@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Squirk";
  src: url("./fonts/SquirkCustom.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Chainwhacks";
  src: url("./fonts/Chainwhacks.ttf");
  font-weight: normal;
}

:root {
  --dark-blue: #1a2661;
  --blue: #2c3c8c;
  --light-blue: #c5d1ff;
  --dark-red: #8d0e0e;
  --red: #c91414;
  --light-red: #dd6969;
}

#app {
  height: 100vh;
  width: 100vw;
  max-width: 1536px;
  padding: 2rem;
}

body {
  background-image: url("src/assets/images/backgroundblue.png");
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}
